<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{font-size: 62.5%;}
        .logo{
            max-width: 10em;
            margin: 0 auto;
        }
        .logo img{width: 100%;}
        .agradecimentos{margin: 0 auto;}
        .agradecimentos h1{
            margin: .2em 0em;
            padding: 0;

            font-family:Arial, Helvetica, sans-serif;
            font-size: 3em;
            text-align:center;
            color: #1898d0;
        }
        .agradecimentos h2{
            margin: .2em 0em;
            padding: 0;

            font-family:Arial, Helvetica, sans-serif;
            font-size: 2.5em;
            text-align:left;
            color: #1898d0;
        }
        .agradecimentos p{
            font-family:Arial, Helvetica, sans-serif;
            font-size: 1.5em;
            line-height: 1.4em;
            text-align: justify;
            color: #1898d0;
        }
        table{
            background: #1898d0;
            border: .1em solid #f8f8f8;
            margin: 0 auto;
        }
        
        table tr td{
            width: 33%;
            
            margin:0;
            padding:1em 0em;
            
            border: .1em solid #f8f8f8;
            
            font-family:Arial, Helvetica, sans-serif;
            font-size: 1.5em;
            text-align:center;
            color: #f8f8f8;
        }
    </style>

</head>
<body>
    <div class="logo"><img src="cid:uniq-logo" alt="HDE"></div>
    <div class="agradecimentos">
        <h1>Novo orçamento!</h1>
        <p>Oi HD! Tudo bem?</p>
        <p>Venho aqui para te trazer boas noticias... <b>ALGUÉM FEZ UM ORÇAMENTO EM NOSSO SITE!</b></p>
    
        <h2>Informações do Cliente </h2>
        <p>NOME COMPLETO: <b>{{cliente}}</b></p>
        <p>EMAIL: <b>{{email}}</b></p>
        <p>NÚMERO: <b>{{numero}}</b></p>
        <p>ENDEREÇO: <b>{{endereco}}</b></p>
        <p>CEP: <b>{{cep}}</b></p>
        <p>Segue abaixo o modelo de seu ultimo orçamento feito com a gente!</p>
    </div>
    <table class="orcamento">
        <tr class="orcamento__item"><td colspan="3">CLIENTE: {{cliente}}</td></tr>
        <tr class="orcamento__item">
            <td>SERVIÇO</td>
            <td>ESPECIALIZAÇÃO</td>
            <td>DATA DO SERVICO</td>
        </tr>
        {{#each orcamento}}
            <tr class="orcamento__item">
                <td>{{item}}</td>
                <td>{{servico}}</td>
                <td>{{data_orcamento}}</td>
            </tr>
        {{/each}}
    </table>
    <div class="agradecimentos">
        <p>Lembrando que caso o cliente {{cliente}} tenha feito mais de um orçamento dentro de 24 horas, 
            o último orçamento será somado ao primeiro 
            (inclusive itens repetidos, favor não considerar mais de um ítem repetido)</p>
    </div>
</body>
</html>